<h2>Questions about their plan, pricing or invoice</h2>
You tagged this conversation with type_subscription which means that there is a question regarding an invoice, downgrade, upgrade or cancellation. ⚠️  Please add a 2nd tag subscription_* based on the topic of the customer’s message.

Important docs:
<ul>
    <li><a href='https://www.notion.so/prezly/Processes-8d03836f0f9f4262bab995515d629dc5?p=839011b441b04d1ca8f3a8900daebc5e'>Subscription license changes: upgrades and downgrades </a></li>
    <li><a href='https://www.notion.so/prezly/Processes-8d03836f0f9f4262bab995515d629dc5?p=3b1540b2cf0347b38cc0c44c360666b7'>Cancellation requests</a></li>
</ul>