<h2>How to or FAQ 🎓</h2>
⚠️ Please add a 2nd tag question_* based on the type of question.
<ul>
    <li><a href='https://www.notion.so/prezly/fc285d5994c14cdc806c1acec7aed9a8?v=64f3b67a9a45433cb6223a23f753e2e1'>Newsrooms & Stories</a></li>
    <li><a href='https://www.notion.so/prezly/fc285d5994c14cdc806c1acec7aed9a8?v=943fcdcd1f894bf5899d77665f8dcfa2'>Email deliverability</a></li>
    <li><a href='https://www.notion.so/prezly/fc285d5994c14cdc806c1acec7aed9a8?v=78185dfb109d454eaa8d5d94a6203bed'>Contacts</a></li>

    Not one of these? Don’t worry, check out our internal guides section <a href='https://www.notion.so/prezly/fc285d5994c14cdc806c1acec7aed9a8?v=a7ad3c4d94154d418f07dcfa94e320e7'>here.</a>

</ul>